<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src='../src/interface.js'></script>
  </head>


  <body>


    <h1>Properties</h1>

    <div class='container'>
      <div class='propertylist'>
        <h1> Propertylist </h1>
        <script id="property-template" type="text/x-handlebars-template">
          {{#each rentals}}
        <div class='property'>
          <h1> Property </h1>
          <div class='element-stack'>
            <a href='file:///Users/mariekerkstoel/Makers/Week6/MakersBnB/views/pro.html'>
            <img class='property-image' src='https://i.pinimg.com/564x/c1/45/b4/c145b4fa6322048fce85cba6b2bcf0ed.jpg'/>
            </a>
          </div>
          <div class='property-info'>
            <p> loft </p>
            <div class='property-price'>
              <p>{{price}}</p>
            </div>
            <div class='property-location'>
              <p>{{address}}</p>
            </div>
            <div class='property-id'>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </script>
  </body>
</html>
