.container {
  margin-top:10px;
  height:200px;
  position:static;
  text-align:center;
}

.propertylist {
  height:70px;
  width:150px;
  text-align: center;
}

.property {
  width:100%;
  border:solid;
  position:static;
}

.element-stack {
  text-align: center;

}

.property-image {
  width:50%;
  border:solid;
  text-align: center;
}

.property-info{
  text-align: center;
}

.booking-info{
  position:left;
}

.head-image{
  width:10px;
  height:800px;
}
