<form action='/rentals/create' method='post'>
  <input type='text' name='address' placeholder='address'>
  <input type='text' name='price' placeholder='price'>
  <input type='text' name='image' placeholder='image'>
  <input type='file'>
  <button value='submit'>Submit!</button>
</form>
