<form action='/rentals/create' method='post' enctype='multipart/form-data'>
  <input type='text' name='address' placeholder='address'>
  <input type='text' name='price' placeholder='price'>
  <input type='file' name='image'>
  <button value='submit'>Submit!</button>
</form>
