<script id="property-template" type="text/x-handlebars-template">
  <div class="album text-muted">
    <div class="container">
      <div class="row">
        {{#each rentals}}
        <div class="card">
          <a class="link" id="Rental{{id}}" href="/rentals/view?id={{id}}">
            <img src="/uploads/{{image}}" width='356' height='500'>
          </a>
          <div class="card-text">
            <table class="card-table">
              <tr><td><b>Address</b></td><td>{{address}}</td></tr>
              <tr><td><b>Price/night</b></td><td>£{{price}}</td></tr>
            </table>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</script>
<script src='/js/interface.js'></script>

<% if flash[:exit] %>
<%= flash[:exit] %>
<% end %>
