<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='../src/js/interface.js'></script>
  </head>

  <body>
    <div class='container'>
      <div class='head-image'>
        <img src='https://i.pinimg.com/564x/c1/45/b4/c145b4fa6322048fce85cba6b2bcf0ed.jpg'></img>
      </div>
      <div class='content'>
        <div class='property-info'></div>
        <div class='booking-info'>
          <input id='startdate' type='date' value='Arrival date'>
          <input id='enddate' type='date' value='Departure date'>
          <input id='checkAvailability' type='submit' value='Check availability'>
          <button id='Book'>Book!</button>
        </div>
      </div>
    </div>
  </body>
</html>
