<script id="viewing-template" type="text/x-handlebars-template">
  <div class='container' id="">
    <div class='head-image'>
      <img src="/uploads/{{image}}"></img>
    </div>
    <div class='content card'>
      <div class='property-info'>
        <p>{{address}}</p>
        <p>£{{price}}</p>
      </div>
      <div class='booking-info'>
        <input id='startdate' type='date' value='Arrival date'>
        <input id='enddate' type='date' value='Departure date'>
        <input id='checkAvailability' type='submit' value='Check availability'>
        <button id='book'>Book!</button>
      </div>
    </div>
  </div>
</script>
<script src='/js/propertyinterface.js'></script>
