<form action='/users/new' method='post'>
  <input type='email' placeholder='email' name='email'>
  <input type='password' placeholder='password' name='password'>
  <input type='password' placeholder='password confirmation' name='password_confirmation'>
  <input type='submit' value='Submit!'>
</form>
